@use "tailwindcss";

:root {
    --font-size: 16px;
    --background: oklch(95.5% 0.015 92);
    --foreground: oklch(40% 0.00004 270);
    --card: oklch(100% 0 0);
    --interactive: oklch(91.56% 0.04307 334.177);
    --interactive-active: oklch(78.15% 0.06761 335.197);
    --interactive-on: oklch(100% 0 270);
    --interactive-on-hover: oklch(80% 0.07 335);
    --border: oklch(69.358% 0.00114 13.388);
    --warning: oklch(57.886% 0.20555 26.015);
}

body {
    font-size: var(--font-size);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

button {
    background-color: var(--interactive);
    color: var(--interactive-on);
    font-weight: 800;
    font-size: 20px;

    &:hover:not(:disabled) {
        background-color: var(--interactive-on-hover);
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

