.amount-input {
  border: solid var(--border);
  border-width: 0 0 2px;
  width: 60%;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--interactive-active);
  }

  &.invalid-input {
    border-color: var(--warning);
  }
}
